 <footer class="footer">
	   <span class="footer__copyright">Powered By: <a href="http://hexo.io">Hexo</a> & <a href="https://github.com/lenbo-ma/hexo-theme-vno">hexo-theme-vno</a></span>
	    <span class="footer__copyright">License: <a href="http://creativecommons.org/licenses/by-nc/3.0/deed.zh" target="_blank">知识共享署名-非商业性使用 3.0 国际版本许可协议进行许可</a>。</span>
	    <span class="footer__copyright">&copy;&nbsp;2010-2015&nbsp;All&nbsp;rights&nbsp;reserved. </span>
</footer>